body {
  font-family: 'Poppins', sans-serif;
  background-image: url('photos/gradient.png');
    background-size: cover;
}

[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}
.last-section {
  clip-path: url(#wave-indentation-path);
  padding-top: 50px;
}
.photo img {
	display: block;
	position: relative;
	z-index: 1;
	-webkit-mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
	mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
}